<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.interest.dao.rainbow.RainbowRbbxhDao">

	<!-- 即开票交易统计, 添加分页及 日期和设备类型控制 -->
	<select id="rbxhjkpjytj" resultType="java.util.HashMap" >
		select date(a.enable_date) 日期,a.device_type 设备类型,sum(a.order_ct) 交易总笔数,max(a.order_ct) 单台最大交易笔数,avg(a.order_ct) 平均单台交易笔数,sum(a.refund_ct) 退订单数
		from study.f_device_summary a
		where date(a.enable_date) >= #{startDate} and date(a.enable_date) &lt;= #{endDate}

		<!-- 设备类型 -->
		<if test="null != deviceModel and deviceModel.size > 0">
			and a.device_type IN
			<foreach collection="deviceModel" item="ddi" index="index" open="(" close=")" separator=",">
				#{ddi}
			</foreach>
		</if>
		#and a.device_no = '{{设备编码}}'
		#and a.shop_no = '{{门店编码}}'
		#and a.shop_area = '{{ 所属地区 }}'
		#and a.agent_title = '{{ 渠道名称 }}'
		#and a.shop_type = '{{ 网点类型 }}'

		group by 日期,设备类型

		limit #{pageWrapper.start},#{pageWrapper.pageSize};
	</select>

	<!-- 查询总条数，在最外层加了个select count *  -->
	<select id="rbxhjkpjytj_count" resultType="Integer">
		select count(*) from
		(
		select date(a.enable_date) 日期,a.device_type 设备类型,sum(a.order_ct) 交易总笔数,max(a.order_ct) 单台最大交易笔数,avg(a.order_ct) 平均单台交易笔数,sum(a.refund_ct) 退订单数
		from study.f_device_summary a
		where date(a.enable_date) >= #{startDate} and date(a.enable_date) &lt;= #{endDate}

		<!-- 设备类型 -->
		<if test="null != deviceModel and deviceModel.size > 0">
			and a.device_type IN
			<foreach collection="deviceModel" item="ddi" index="index" open="(" close=")" separator=",">
				#{ddi}
			</foreach>
		</if>
		#and a.device_no = '{{设备编码}}'
		#and a.shop_no = '{{门店编码}}'
		#and a.shop_area = '{{ 所属地区 }}'
		#and a.agent_title = '{{ 渠道名称 }}'
		#and a.shop_type = '{{ 网点类型 }}'

		group by 日期,设备类型
		) temp
	</select>

	<!-- TOP50不用分页，控制好表格的就可以。  -->
	<select id="rbxhjkpjy50" resultType="java.util.HashMap" >
		select a.device_no 设备编号,a.shop_no 网点编号,a.shop_address 设备位置,date(a.enable_time) 启用时间,a.device_type 设备类型
		,sum(a.order_ct) 设备交易笔数,sum(a.order_amount) 交易额,sum(a.refund_ct) 产生退订单数,sum(a.refund_amount) 产生退款金额
		,sum(a.refund_ct)/sum(a.order_ct) 订单退款率,sum(a.refund_amount)/sum(a.order_amount) 交易额退款率
		from study.f_device_summary a
		where date(a.enable_date) >= #{startDate} and date(a.enable_date) &lt;= #{endDate}

		<!-- 设备类型 -->
		<if test="null != deviceModel and deviceModel.size > 0">
			and a.device_type IN
			<foreach collection="deviceModel" item="ddi" index="index" open="(" close=")" separator=",">
				#{ddi}
			</foreach>
		</if>

		#and a.device_no = '{{设备编码}}'
		#and a.shop_no = '{{门店编码}}'
		#and a.shop_area = '{{ 所属地区 }}'
		#and a.agent_title = '{{ 渠道名称 }}'
		#and a.shop_type = '{{ 网点类型 }}'
		group by 设备编号,网点编号,启用时间
		order by 设备交易笔数 desc
		limit 50
	</select>

	<!-- 每日在网设备数量统计, 添加分页及 日期和设备类型控制 -->
	<select id="rbxhsbyxqk" resultType="java.util.HashMap" >
		select dt ,a.DDI_Type ,count(b.DDI_No) as 在网设备数量
		from (select date(CreateDate) dt from t_shop_order_info where date(CreateDate) >= #{startDate} and date(CreateDate) &lt;= #{endDate} group by dt ) t
		left join (select DDI_No,SHOP_No,DSI_Anti,DSI_Try,ifnull(DSI_Withdraw,now()) DSI_Withdraw from study.t_device_sub_info ) b
		on t.dt between date(DSI_Try) and date(DSI_Withdraw)
		left join t_device_device_info a
		on a.DDI_No = b.DDI_No
		left join netfiance_db.t_shop_shop_info e
		on b.SHOP_No = e.SHOP_No
		LEFT JOIN netfiance_db.t_shop_agent_list f
		ON e.SHOP_AGUid = f.AGNT_Uid
		LEFT JOIN netfiance_db.t_shop_agent_top g
		ON f.AGNT_ATUid = g.ATOP_Uid
		left join study.t_shop_sub_info d
		on e.SHOP_No = d.SHOP_No
		left join (select DICT_Value,DICT_Name from netfiance_db.t_sys_dictionary_info where DICT_Field = 'shop_class' ) l
		on l.DICT_Value = e.SHOP_Class
		where DSI_Anti is null

		<if test="null != deviceModel and deviceModel.size > 0">
			and a.DDI_Type IN
			<foreach collection="deviceModel" item="ddi" index="index" open="(" close=")" separator=",">
				#{ddi}
			</foreach>
		</if>

		group by dt,DDI_Type

		limit #{pageWrapper.start},#{pageWrapper.pageSize};
	</select>

	<!-- 每日在网设备数量统计 统计数量，在最外层加了个select count *  -->
	<select id="rbxhsbyxqk_count" resultType="Integer">
		select count(*) from
		(
		select dt,a.DDI_Type,count(b.DDI_No) as 在网设备数量
		from (select date(CreateDate) dt from t_shop_order_info where date(CreateDate) >= #{startDate} and date(CreateDate) &lt;= #{endDate} group by dt ) t
		left join (select DDI_No,SHOP_No,DSI_Anti,DSI_Try,ifnull(DSI_Withdraw,now()) DSI_Withdraw from study.t_device_sub_info ) b
		on t.dt between date(DSI_Try) and date(DSI_Withdraw)
		left join t_device_device_info a
		on a.DDI_No = b.DDI_No
		left join netfiance_db.t_shop_shop_info e
		on b.SHOP_No = e.SHOP_No
		LEFT JOIN netfiance_db.t_shop_agent_list f
		ON e.SHOP_AGUid = f.AGNT_Uid
		LEFT JOIN netfiance_db.t_shop_agent_top g
		ON f.AGNT_ATUid = g.ATOP_Uid
		left join study.t_shop_sub_info d
		on e.SHOP_No = d.SHOP_No
		left join (select DICT_Value,DICT_Name from netfiance_db.t_sys_dictionary_info where DICT_Field = 'shop_class' ) l
		on l.DICT_Value = e.SHOP_Class
		where DSI_Anti is null

		<if test="null != deviceModel and deviceModel.size > 0">
			and a.DDI_Type IN
			<foreach collection="deviceModel" item="ddi" index="index" open="(" close=")" separator=",">
				#{ddi}
			</foreach>
		</if>

		group by dt,DDI_Type
		) temp
	</select>


	<!-- 每日在网设备数量统计, 添加分页及 日期和设备类型控制 -->
	<select id="mrxrwsbsl" resultType="java.util.HashMap" >
		select date(c.DSI_Try) dt,a.DDI_Type,count(distinct(c.DDI_No)) 新入网设备数量
		from study.t_device_sub_info c left join t_device_device_info a
		on a.DDI_No = c.DDI_No
		left join netfiance_db.t_shop_shop_info e
		on c.SHOP_No = e.SHOP_No
		LEFT JOIN netfiance_db.t_shop_agent_list f
		ON e.SHOP_AGUid = f.AGNT_Uid
		LEFT JOIN netfiance_db.t_shop_agent_top g
		ON f.AGNT_ATUid = g.ATOP_Uid
		left join study.t_shop_sub_info d
		on e.SHOP_No = d.SHOP_No
		left join (select DICT_Value,DICT_Name from netfiance_db.t_sys_dictionary_info where DICT_Field = 'shop_class' ) t
		on t.DICT_Value = e.SHOP_Class
		where c.DSI_Anti is null
		and date(c.DSI_Try) >= #{startDate} and date(c.DSI_Try) &lt;= #{endDate}

		<if test="null != deviceModel and deviceModel.size > 0">
			and a.DDI_Type IN
			<foreach collection="deviceModel" item="ddi" index="index" open="(" close=")" separator=",">
				#{ddi}
			</foreach>
		</if>

		group by dt,a.DDI_Type

		limit #{pageWrapper.start},#{pageWrapper.pageSize};
	</select>

	<!-- 每日新入网设备数量统计 统计数量，在最外层加了个select count *  -->
	<select id="mrxrwsbsl_count" resultType="Integer">
		select count(*) from
		(
		select date(c.DSI_Try) dt,a.DDI_Type,count(distinct(c.DDI_No)) 新入网设备数量
		from study.t_device_sub_info c left join t_device_device_info a
		on a.DDI_No = c.DDI_No
		left join netfiance_db.t_shop_shop_info e
		on c.SHOP_No = e.SHOP_No
		LEFT JOIN netfiance_db.t_shop_agent_list f
		ON e.SHOP_AGUid = f.AGNT_Uid
		LEFT JOIN netfiance_db.t_shop_agent_top g
		ON f.AGNT_ATUid = g.ATOP_Uid
		left join study.t_shop_sub_info d
		on e.SHOP_No = d.SHOP_No
		left join (select DICT_Value,DICT_Name from netfiance_db.t_sys_dictionary_info where DICT_Field = 'shop_class' ) t
		on t.DICT_Value = e.SHOP_Class
		where c.DSI_Anti is null
		and date(c.DSI_Try) >= #{startDate} and date(c.DSI_Try) &lt;= #{endDate}

		<if test="null != deviceModel and deviceModel.size > 0">
			and a.DDI_Type IN
			<foreach collection="deviceModel" item="ddi" index="index" open="(" close=")" separator=",">
				#{ddi}
			</foreach>
		</if>

		group by dt,a.DDI_Type
		) temp
	</select>

	<!-- 每日未开机入网设备数量统计, 添加分页及 日期和设备类型控制 -->
	<select id="mrwkjsl" resultType="java.util.HashMap" >
		select dt,a.DDI_Type,count(b.DDI_No)-count(c.DOL_Length) 每日未开机设备数量
		from (select date(CreateDate) dt from t_shop_order_info where date(CreateDate) >= #{startDate} and date(CreateDate) &lt;= #{endDate} group by dt ) t
		left join (select DDI_No,SHOP_No,DSI_Anti,DSI_Try,ifnull(DSI_Withdraw,now()) DSI_Withdraw from study.t_device_sub_info ) b
		on t.dt between date(DSI_Try) and date(DSI_Withdraw)
		left join t_device_device_info a
		on a.DDI_No = b.DDI_No
		left join t_device_online_list c
		on date(c.CreateDate) = t.dt and a.DDI_Uid = c.DOL_DUid
		left join netfiance_db.t_shop_shop_info e
		on b.SHOP_No = e.SHOP_No
		LEFT JOIN netfiance_db.t_shop_agent_list f
		ON e.SHOP_AGUid = f.AGNT_Uid
		LEFT JOIN netfiance_db.t_shop_agent_top g
		ON f.AGNT_ATUid = g.ATOP_Uid
		left join study.t_shop_sub_info d
		on e.SHOP_No = d.SHOP_No
		left join (select DICT_Value,DICT_Name from netfiance_db.t_sys_dictionary_info where DICT_Field = 'shop_class' ) l
		on l.DICT_Value = e.SHOP_Class
		where DSI_Anti is null

		<if test="null != deviceModel and deviceModel.size > 0">
			and a.DDI_Type IN
			<foreach collection="deviceModel" item="ddi" index="index" open="(" close=")" separator=",">
				#{ddi}
			</foreach>
		</if>

		group by dt,DDI_Type

		limit #{pageWrapper.start},#{pageWrapper.pageSize};
	</select>

	<!-- 每日未开机设备数量统计 统计数量，在最外层加了个select count *  -->
	<select id="mrwkjsl_count" resultType="Integer">
		select count(*) from
		(
		select dt,a.DDI_Type,count(b.DDI_No)-count(c.DOL_Length) 每日未开机设备数量
		from (select date(CreateDate) dt from t_shop_order_info where date(CreateDate) >= #{startDate} and date(CreateDate) &lt;= #{endDate} group by dt ) t
		left join (select DDI_No,SHOP_No,DSI_Anti,DSI_Try,ifnull(DSI_Withdraw,now()) DSI_Withdraw from study.t_device_sub_info ) b
		on t.dt between date(DSI_Try) and date(DSI_Withdraw)
		left join t_device_device_info a
		on a.DDI_No = b.DDI_No
		left join t_device_online_list c
		on date(c.CreateDate) = t.dt and a.DDI_Uid = c.DOL_DUid
		left join netfiance_db.t_shop_shop_info e
		on b.SHOP_No = e.SHOP_No
		LEFT JOIN netfiance_db.t_shop_agent_list f
		ON e.SHOP_AGUid = f.AGNT_Uid
		LEFT JOIN netfiance_db.t_shop_agent_top g
		ON f.AGNT_ATUid = g.ATOP_Uid
		left join study.t_shop_sub_info d
		on e.SHOP_No = d.SHOP_No
		left join (select DICT_Value,DICT_Name from netfiance_db.t_sys_dictionary_info where DICT_Field = 'shop_class' ) l
		on l.DICT_Value = e.SHOP_Class
		where DSI_Anti is null

		<if test="null != deviceModel and deviceModel.size > 0">
			and a.DDI_Type IN
			<foreach collection="deviceModel" item="ddi" index="index" open="(" close=")" separator=",">
				#{ddi}
			</foreach>
		</if>

		group by dt,DDI_Type
		) temp
	</select>

	<!-- 撤机设备数, 添加分页及 日期和设备类型控制 -->
	<select id="cjsbs" resultType="java.util.HashMap" >
		select date(c.DSI_Withdraw) dt,a.DDI_Type,count(distinct(c.DDI_No)) 撤机设备数量
		from study.t_device_sub_info c left join t_device_device_info a
		on a.DDI_No = c.DDI_No
		left join netfiance_db.t_shop_shop_info e
		on c.SHOP_No = e.SHOP_No
		LEFT JOIN netfiance_db.t_shop_agent_list f
		ON e.SHOP_AGUid = f.AGNT_Uid
		LEFT JOIN netfiance_db.t_shop_agent_top g
		ON f.AGNT_ATUid = g.ATOP_Uid
		left join study.t_shop_sub_info d
		on e.SHOP_No = d.SHOP_No
		left join (select DICT_Value,DICT_Name from netfiance_db.t_sys_dictionary_info where DICT_Field = 'shop_class' ) t
		on t.DICT_Value = e.SHOP_Class
		where c.DSI_Anti is null
		and c.DSI_Withdraw is not null
		and date(c.DSI_Withdraw) >= #{startDate} and date(c.DSI_Withdraw) &lt;= #{endDate}

		<if test="null != deviceModel and deviceModel.size > 0">
			and a.DDI_Type IN
			<foreach collection="deviceModel" item="ddi" index="index" open="(" close=")" separator=",">
				#{ddi}
			</foreach>
		</if>

		group by dt,a.DDI_Type

		limit #{pageWrapper.start},#{pageWrapper.pageSize};
	</select>

	<!-- 每日未开机设备数量统计 统计数量，在最外层加了个select count *  -->
	<select id="cjsbs_count" resultType="Integer">
		select count(*) from
		(
		select date(c.DSI_Withdraw) dt,a.DDI_Type,count(distinct(c.DDI_No)) 撤机设备数量
		from study.t_device_sub_info c left join t_device_device_info a
		on a.DDI_No = c.DDI_No
		left join netfiance_db.t_shop_shop_info e
		on c.SHOP_No = e.SHOP_No
		LEFT JOIN netfiance_db.t_shop_agent_list f
		ON e.SHOP_AGUid = f.AGNT_Uid
		LEFT JOIN netfiance_db.t_shop_agent_top g
		ON f.AGNT_ATUid = g.ATOP_Uid
		left join study.t_shop_sub_info d
		on e.SHOP_No = d.SHOP_No
		left join (select DICT_Value,DICT_Name from netfiance_db.t_sys_dictionary_info where DICT_Field = 'shop_class' ) t
		on t.DICT_Value = e.SHOP_Class
		where c.DSI_Anti is null
		and c.DSI_Withdraw is not null
		and date(c.DSI_Withdraw) >= #{startDate} and date(c.DSI_Withdraw) &lt;= #{endDate}

		<if test="null != deviceModel and deviceModel.size > 0">
			and a.DDI_Type IN
			<foreach collection="deviceModel" item="ddi" index="index" open="(" close=")" separator=",">
				#{ddi}
			</foreach>
		</if>

		group by dt,a.DDI_Type
		) temp
	</select>


</mapper>
